{% load static %} 
<!DOCTYPE html>

<html lang="zxx">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>CRYPTOS</title>

    <!-- Mobile Specific Meta
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="{% static 'home/plugins/themefisher-font.v-2/style.css' %}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'home/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'home/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'home/plugins/slick-carousel/slick/slick-theme.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">



</head>

<body id="body">

    {% block content %}
    <!--
Fixed Navigation
==================================== -->
    <section class="top-header">
        <div class="container-fluid">
            <marquee  onmouseover="this.stop();" onmouseout="this.start();"><div class="row">
                <div class="col-md-12">
                    
                    <ul class="currency-status">
                    {% if top_bar %}
                        {% for obj in top_bar %}   
                            <li>
                                <a href="#">
                                    <i class= '{{obj.class}}' ></i>
                                    <span>{{obj.sym}}/USD</span>
                                    <span>{{obj.curr_p}}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif  %}    
                                               
                    </ul>
                    
                </div>
            </div>
        </marquee>
        </div>
    </section>
    <section class="header  navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img src="{% static 'home/images/logo.png' %}" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="tf-ion-android-menu"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="exchange.html">Exchange</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'cal_con' %}">Cryptocurrency Converter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'faq' %}">F.A.Q</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'blog' %}">Blogs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'guide' %}">Guide</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </section>




    <div class="jumbotron converter">
        <div class="container">
            <h2 class="center-row">Cryptocurrency Calculator</h2>
            <p class="lead center-row">Convert the Cryptocurrency</p>
            
            
            <form action="{% url 'cal_con' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <input type="number" step="0.01" min="0"  placeholder="Enter Amount to Convert" class="form-control" id="amount" name="value" required />
                </div>
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control" id="currency-1" name="curr1" required>
                        {% if data %}
                            {% for obj in data %}
                                <option value="{{obj.symbol}}">{{obj.name}}({{obj.symbol}})</option>
                            {% endfor %} 
                        {% endif %}          
                        </select>
                    </div>
                    
                    <div class="form-group mx-sm-3 mb-2">
                        <label>convert to</label>
                        <select class="form-control" id="currency-2" name="curr2" required>
                            <option value="EUR">Euro(EUR)</option>
                            <option value="USD">United States Dollar(USD)</option>
                            <option value="INR">Indian Rupee(INR)</option>
                            <option value="GBP">Great Britain Pound(GBP)</option>
                            <option value="CAD">Canadian Dollar(CAD)</option>
                        </select>
                    </div>

                </div>
                <div class="center-row ">
                    {% if value %}
                    <p class="results"> {{ value }} {{ curr1 }}  {{ Result }} {{ curr2 }}</p>
                    {% endif %}
                    <!-- <button type="reset" class="btn calculate-btn btn-primary mb-2 ">Reset</button> -->
                    <button type="submit" class="btn calculate-btn btn-primary mb-2">Convert</button>
                </div>
            </form>  
             
 
            
        </div>

        
        <div class="result">
            <p>
                <span class="given-amount"></span>
                <span class="base-currency"></span>
                <span class="final-result"></span>
                <span class="second-currency"></span>
            </p>
        </div>
    </div>
    </div>

    {% endblock content %}

    <footer id="footer" class="bg-one">
        <div class="top-footer">
            <div class="container">
                <div class="row ">

                    <div class="col-sm-4 col-md-4 col-lg-4 offset-md-3">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="{% url 'home' %}"><h6>Home</h6></a></li>
                            <li><a href="{% url 'cal_con' %}"><h6>Cryptocurrency Converter</h6></a></li>
                            <li><a href="{% url 'about' %}"><h6>About</h6></a></li>
                            <li><a href="{% url 'faq' %}"><h6>FAQ's</h6></a></li>
                            <li><a href="{% url 'blog' %}"><h6>Blogs</h6></a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h2>Follow Us</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/Cryptos-100778582123682"><h6>Facebook</h6></a></li>
                            <li><a href="https://twitter.com/Cryptos95647385"><h6>Twitter</h6></a></li>
                            <li><a href="cryptossolution@gmail.com"><h6>Gmail</h6></a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                </div>
            </div> <!-- end container -->
        </div>

    </footer> <!-- end footer -->

    <!-- end Footer Area
    ========================================== -->



    <!-- 
    Essential Scripts
    =====================================-->

    <!-- Main jQuery -->
    <script src="{% static 'home/plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'home/plugins/bootstrap/dist/js/popper.min.js' %}"></script>
    <script src="{% static 'home/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Owl Carousel -->
    <script src="{% static 'home/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- Smooth Scroll js -->
    <script src="{% static 'home/plugins/smooth-scroll/dist/js/smooth-scroll.min.js' %}"></script>

    <!-- Custom js -->
    <script src="{% static 'home/js/script.js' %}"></script>

    <script type="text/javascript">
        (function (d, m) {
          var kommunicateSettings = {
            appId: "3e1c8c28178f5de1e2122bb8f7ae62411",
            popupWidget: true,
            automaticChatOpenOnNavigation: true,
          };
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
          var h = document.getElementsByTagName("head")[0];
          h.appendChild(s);
          window.kommunicate = m;
          m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
      </script>

</body>

</html>