{% load static %}
<!DOCTYPE html>

<html lang="zxx">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>CRYPTOS</title>

    <!-- Mobile Specific Meta
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="{% static 'home/plugins/themefisher-font.v-2/style.css' %}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'home/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'home/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'home/plugins/slick-carousel/slick/slick-theme.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">



</head>

<body id="body">


    <!--
Fixed Navigation
==================================== -->
    <section class="top-header">
        <div class="container-fluid">
            <marquee  onmouseover="this.stop();" onmouseout="this.start();"><div class="row">
                <div class="col-md-12">
                    
                    <ul class="currency-status">
                    {% if top_bar %}
                        {% for obj in top_bar %}   
                            <li>
                                <a href="#">
                                    <i class= '{{obj.class}}' ></i>
                                    <span>{{obj.sym}}/USD</span>
                                    <span>{{obj.curr_p}}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif  %}    
                                               
                    </ul>
                    
                </div>
            </div>
        </marquee>
        </div>
    </section>
    <section class="header  navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img src="{% static 'home/images/logo.png' %}" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="tf-ion-android-menu"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="exchange.html">Exchange</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'cal_con' %}">Cryptocurrency Converter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'pred' %}"
                                      >Price Prediction</a
                                    >
                                  </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'faq' %}">F.A.Q</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'blog' %}">Blogs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'guide' %}">Guide</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </section>


    <section class="page-wrapper section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Frequently Asked Questions</h2>
                    <p>New to cryptocurrency? Get all your queries related to crypto cleared here! You can also contact
                        us in case your query is not mentioned in the FAQ's listed below.</p>
                    <p style="color: black;">cryptossolution@gmail.com</p>
                </div>
                <div class="col-md-8">
                    <h4>What is cryptocurrency?</h4>
                    <p>Cryptocurrency is a form of payment that can be exchanged online for goods and services. Many
                        companies have issued their own currencies, often called tokens, and these can be traded
                        specifically for the good or service that the company provides. Think of them as you would
                        arcade tokens or casino chips. You’ll need to exchange real currency for the cryptocurrency to
                        access the good or service.
                        <br><br> Cryptocurrencies work using a technology called blockchain. Blockchain is a
                        decentralized technology spread across many computers that manages and records transactions.
                        Part of the appeal of this technology is its security.</p>
                    <h4>How many cryptocurrencies are there? What are they worth?</h4>
                    <p>More than 6,700 different cryptocurrencies are traded publicly, according to CoinMarketCap.com, a
                        market research website. And cryptocurrencies continue to proliferate, raising money through
                        initial coin offerings, or ICOs. The total value of all cryptocurrencies on Feb. 18, 2021, was
                        more than $1.6 trillion, according to CoinMarketCap, and the total value of all bitcoins, the
                        most popular digital currency, was pegged at about $969.6billion.</p>
                    <h4>Are cryptocurrencies legal?</h4>
                    <p>There’s no question that they’re legal in the United States, though China has essentially banned
                        their use, and ultimately whether they’re legal depends on each individual country. Also be sure
                        to consider how to protect yourself from fraudsters who see cryptocurrencies as an opportunity
                        to bilk investors. As always, buyer beware.</p>
                    <h4>Why are cryptocurrencies so popular?</h4>
                    <p>Cryptocurrencies appeal to their supporters for a variety of reasons. Here are some of the most
                        popular:
                        <ul style="list-style-type: disc; color:#554c4c;">

                            <li>Supporters see cryptocurrencies such as Bitcoin as the currency of the future and are
                                racing to buy them now, presumably before they become more valuable</li>
                            <li> Some supporters like the fact that cryptocurrency removes central banks from managing
                                the money supply, since over time these banks tend to reduce the value of money via
                                inflation</li>
                            <li>Other supporters like the technology behind cryptocurrencies, the blockchain, because
                                it’s a decentralized processing and recording system and can be more secure than
                                traditional payment systems</li>
                            <li>Some speculators like cryptocurrencies because they’re going up in value and have no
                                interest in the currencies’ long-term acceptance as a way to move money</li>

                        </ul>

                    </p>
                    <h4>Is cryptocurrency safe?</h4>
                    <p>Let’s look at two aspects of cryptocurrency safety: investment and storage. <br><br>

                        Of course, cryptocurrency carries risk like any other investment. However, the gains and losses
                        of cryptocurrency tend to occur much faster than with other currency investments. Successful
                        traders and investors have built digital fortunes thanks to the volatility of Bitcoin. However,
                        others who weren’t so lucky, lost their funds quickly.

                        <br><br> Once you have acquired digital currency, you will want to keep it safe in a crypto
                        storage device called a wallet. The encryption technology that these storage devices use to keep
                        your currency safe continues to evolve to stay ahead of 21st-century digital thieves.</p>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="bg-one">
        <div class="top-footer">
            <div class="container">
                <div class="row ">

                    <div class="col-sm-4 col-md-4 col-lg-4 offset-md-3">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="{% url 'home' %}"><h6>Home</h6></a></li>
                            <li><a href="{% url 'cal_con' %}"><h6>Cryptocurrency Converter</h6></a></li>
                            <li><a href="{% url 'about' %}"><h6>About</h6></a></li>
                            <li><a href="{% url 'faq' %}"><h6>FAQ's</h6></a></li>
                            <li><a href="{% url 'blog' %}"><h6>Blogs</h6></a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h2>Follow Us</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/Cryptos-100778582123682"><h6>Facebook</h6></a></li>
                            <li><a href="https://twitter.com/Cryptos95647385"><h6>Twitter</h6></a></li>
                            <li><a href="cryptossolution@gmail.com"><h6>Gmail</h6></a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                </div>
            </div> <!-- end container -->
        </div>

    </footer> <!-- end footer -->

    <!-- end Footer Area
    ========================================== -->



    <!-- 
    Essential Scripts
    =====================================-->

    <!-- Main jQuery -->
    <script src="{% static 'home/plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'home/plugins/bootstrap/dist/js/popper.min.js' %}"></script>
    <script src="{% static 'home/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Owl Carousel -->
    <script src="{% static 'home/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- Smooth Scroll js -->
    <script src="{% static 'home/plugins/smooth-scroll/dist/js/smooth-scroll.min.js' %}"></script>

    <!-- Custom js -->
    <script src="{% static 'home/js/script.js' %}"></script>

    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "97a2d113-169f-4122-812c-67c0c00f2677", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "4540dbcc-c890-4ee6-938f-2fe37c89e5e0", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
          };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
          document.head.appendChild(t);
        });
      </script>

</body>

</html>